
:root{
    --primary-white: #fff;
    --primary-red: #f00;
    --primary-dark:rgba(0, 0, 0, 0.5);  
   }

body{
    font-family: "Open Sans", sans-serif;
}
.card-title{
    font: 500 1.25rem "roboto",lato;
}
.card-img-overlay .card-title{
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.logo{
    width:13rem;
}
/* Menu link */
.navbar a.nav-link{
    font-size: 1rem;
    cursor: pointer;
    color: var(--primary-white) !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;   
}

.navbar .nav-item.active {
    border-left: #444 0.188rem solid; 
}

.nav-link:hover {
    border-bottom: 0.063rem solid var(--primary-red);
    transition: border 0.1s; 
}
/* CAROUSEL */

.carousel-item, .carousel-item.active {
    align-items:center;
    height: 28.125rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;     
}
.carouselCaption{
    background: var(--primary-dark);
}
